---
layout: default
---

<div class="home">
  {% include tagline.html %}
  <div class="grid">
    <div class="columns-two">
      <div class="columns-two-left PostList_content">
        {% for post in site.posts %}
          {% if post.category == "project" %}
          <div class="PostPreview_teaser">
            <img class="PostPreview_img" src="{{ post.preview-img | prepend: site.baseurl }}" />
            <header>
              <h2>
                <a class="PostPreview_link" href="{{ post.url | prepend: site.baseurl }}">
                  {{ post.title }}
                </a>
              </h2>
              <!--<p class="meta">
                {{ post.date | date: "%B %-d, %Y" }}
              </p>-->
            </header>
            <div class="PostPreview_excerpt">
              {% if post.skills.size > 0 %}
              <p class="PostPreview_skills">
                <strong>Tools:</strong>
                {% for skill in post.skills %}
                <span>{{ skill }}</span>
                {% endfor %}
              </p>
              {% endif %}
              <p>
                {{ post.description }}
              </p>
              <a class="button" href="{{ post.url | prepend: site.baseurl }}">
                {{ site.styles.str_continue_reading }}
              </a>
            </div>
            <div>
                <p class="meta">
                    
                </p>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <aside class="columns-two-right Sidebar">
        {% include sidebar.html title="Recent Blog Posts" subset="blog" limit=3 %}
      </aside>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>

<script src="{{ site.baseurl }}/js/animated_tagline.js"><script>
