<ul class="ShareSidebar PostBody_sidebar">
	<li class="ShareSidebar_button">
		<a class="ShareSidebar_button-twitter" 
		   aria-label="tweet" 
		   href="https://twitter.com/share"
		   data-url="{{ page.url | prepend: site.url }}"
		   >
			<i class="fa fa-fw fa-twitter fa-lg"></i>
		</a>
	</li>
	<li class="ShareSidebar_button fb">
		<a class="ShareSidebar_button-facebook" aria-label="share on facebook" href="#">
			<i class="fa fa-fw fa-facebook fa-lg"></i>
		</a>
	</li>
	<li class="ShareSidebar_button pn">
		<a class="ShareSidebar_button-pinterest" aria-label="pin on pinterest" href="#">
			<i class="fa fa-fw fa-pinterest fa-lg"></i>
		</a>
	</li>
</ul>