<h2 class="Sidebar_header">About</h2>
<p class="Sidebar_post">
    I'm Ben Wilcox, a web developer from the <strong>Rochester Institute of Technology.</strong> I'm currently working at <strong>Global Thinking</strong> in Alexandria, VA. These are some of the projects I've worked on over the past couple of years.
</p>
<h2 class="Sidebar_header">{{ include.title }}</h2>
{% assign posts = site.posts | where: "category",include.subset %}
{% for post in posts limit: include.limit %} 
<a href="{{ post.url | prepend: site.baseurl }}">
    <p class="Sidebar_post">
      <strong>{{ post.title }}</strong>
      {{ post.description }}
    </p>
</a>
{% endfor %}
