<div class="Callout" 
style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    <span class="Callout_span">Hi I'm</span>
    <span class="Callout_span Callout_span-green">
    	<a href="{{ site.baseurl }}/about">Ben Wilcox,</a>
    </span>
    <span class="Callout_span">and I make </span>
    <span class="Callout_span Callout_span-green">
    	<a href="http://codepen.io/reccanti">cool stuff</a>
    </span>
    <span class="Callout_span">for the web</span>
  </div>