<ul class="ShareButtons">
	{% if site.theme.share.twitter %}
	<li class="ShareButtons_btn ShareButtons_btn-twitter">
		<a href="https://twitter.com/share" 
		   class="twitter-share-button" 
		   data-via="reccanti"
		   data-text="{{ page.title }}">
			<i class="fa fa-twitter fa-lg"></i>
		</a>
	</li>
	{% endif %}
	{% if site.theme.share.facebook %}
	<li class="ShareButtons_btn ShareButtons_btn-facebook">
		<a href="http://facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}">
			<i class="fa fa-facebook fa-lg"></i>
		</a>
	</li>
	{% endif %}
	{% if site.theme.share.pinterest %}
	<li class="ShareButtons_btn ShareButtons_btn-pinterest">
		<a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
	    	<i class="fa fa-pinterest fa-lg"></i>
		</a>
	</li>
	{% endif %}
	{% if site.theme.share.reddit %}
	<li class="ShareButtons_btn">
		<a class="ShareSidebar_button-pinterest" aria-label="pin on pinterest" href="#">
			<i class="fa fa-fw fa-pinterest fa-lg"></i>
		</a>
	</li>
	{% endif %}
</ul>