// .grid {
//     .columns {
//         &-one {
//             @extend %padding-large;
//         }
//         &-two {
//             @extend %padding-medium;
//             &-left {
//                 display: inline-block;
//                 vertical-align: top;
//                 width: 75%;
//             }
//             &-right {
//                 display: inline-block;
//                 vertical-align: top;
//                 width: 24%;
//             }

//             @media(max-width: 768px) {
//                 &-left {
//                     width: 100%;
//                 }
//                 &-right {
//                     width: 100%;
//                 }
//             }
//         }
//     }

// }

.grid {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

    &-item {
        display: inline-block;
        height: 50%;
        flex-basis: 50%;
    }
}

h1 {
    position: absolute;
    align-self: center;
    z-index: 1;
    background-color: white;

    p {
        padding: .25rem;
    }
}

.cool {
    background-color: black;
    color: white;
}


@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.75);
    } to {
        opacity: 1;
        transform: scale(1.0);
    }
}
// .first {
//     background-color: lightblue;
//     opacity: 0;
//     animation-name: zoomin;
//     animation-fill-mode: forwards;
//     @include step-animation(1.2s, 1, $timeline, .2);
// }

// .second {
//     background-color: lightgreen;
//     opacity: 0;
//     animation-name: zoomin;
//     animation-fill-mode: forwards;
//     @include step-animation(1.2s, 2, $timeline, .2);
// }

// .third {
//     background-color: aqua;
//     opacity: 0;
//     animation-name: zoomin;
//     animation-fill-mode: forwards;
//     @include step-animation(1.2s, 3, $timeline, .2);
// }

// .fourth {
//     background-color: teal;
//     opacity: 0;
//     animation-name: zoomin;
//     animation-fill-mode: forwards;
//     @include step-animation(1.2s, 4, $timeline, .2);
// }
