.ShareButtons {
	text-align: right;
	list-style: none;
	&_btn {
		display: inline-block;
		margin: 10px 0;
		a {
			color: white;
			width: 60px;
			display: block;
			text-align: center;
			padding: 13px;
			border-radius: 2px;
			transition: background .3s ease;
		} 
		a:hover {
			color: white;
		}
		&-twitter {
			@include socialButton($twitter-blue);
		}
		&-facebook {
			@include socialButton($facebook-blue);
		}
		&-pinterest {
			@include socialButton($pinterest-red);
		}
	}
}