.Sidebar {
    padding: 0 15px;
    &_header {
        font-size: $font-size;
    }
    &_post {
        font-size: $font-size * 0.7;
        margin: 0;
        padding: $padding-small 0;
    }

    a {
        color: $text-color;
        font-style: italic;
        display: block;
        &:hover {
            background-color: $background-darker;
        }
    }
}
